<!-- src/app/user-table/user-table.component.html -->
<div class="user-table-container">
    <table class="user-table">
      <thead>
        <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>PhoneNumber</th>
          <th>Position</th>
          <th>Department</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of Users"> 
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phoneNumber}}</td>
          <td>{{user.position}}</td>
          <td>{{user.department}}</td>
          <input type="hidden" value="{{ user.id }}" class="user-id" />
          <td>
            <button class="button" [routerLink]="['/Edit', user.id]" >Edit</button>
            <button class="button" type="delete" [routerLink]="['/Delete', user.id]">Delete</button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button class="button" (click)="PerviousPage()" [disabled]="pagenum == 1" (click)="PerviousPage" > Previous </button>
    <span class="pagination"> Page {{pagenum}} of {{totalePage}} </span>
    <button class="button" (click)="NextPage()" [disabled]="pagenum == totalePage" > Next </button>
  </div>