<!-- src/app/user-table/user-table.component.html -->
<div class="user-table-container">
    <table class="user-table">
      <thead>
        <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>PhoneNumber</th>
          <th>Position</th>
          <th>Department</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let i of pagi"> -->
          <td>empty</td>
          <td>empty</td>
          <td>empty</td>
          <td>empty</td>
          <td>empty</td>
          <td>empty</td>
          <td><button>Edit</button><button>delete</button></td>
        <!-- </tr> -->
      </tbody>
    </table>
  </div>
  