body {
    margin: 0;
    background-image: url('https://preview.redd.it/modified-the-m3-mac-wallpaper-and-thought-it-looked-good-v0-powq8jb5j5bc1.jpeg?auto=webp&s=66231a10e81f3061e1cd6f1807238fdfcd6569a3');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*table.employee-table {
    width: 70%;
    height: 70%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.9);
    position: center;
}

thead {
    background-color: #333;
    color: #fff;
    
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
} */
