.content {
    position: relative;
    z-index: 1;
    text-align: center;
}



  .title {
    font-family: 'Fantasy', copperplate;
    font-size: 56px;
    color: #333;
    text-shadow: 2px 2px 4px #5d09d2;
    text-align: center;
  }